body{
  margin: 0;
}
.gdparent{
  letter-spacing: -0.25rem;
}
.parent{
  letter-spacing: normal;
  display: inline-flex;
  flex-flow:row wrap;
}
/* .enfant{
width: 20%;
} */
img{
  width: 100%;
}
/* .enfant2{
  width: 30%;
} */
div{
  display: inline-flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.enfant{
  width: 20%;
}
.enfant2{
  width: 30%;
}
